* {
  outline: 1px solid red;
}

:root {
  --main-text-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
}

a {
  /* -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

@media screen and (min-width: 320px) {
  .container {
    width: 300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 80px;
}

.nav_list {
  display: flex;
  align-items: center;
}

.button_list {
  display: flex;
}

.button_item {
  color: var(--main-text-color);
  font-size: large;
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}

.header_link {
  color: var(--main-text-color);
  font-size: large;
}

.hero {
  /* height: 900px; */
  padding: 190px 0;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/gallery/index-desk/hero-desk-img.jpg); */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero.jpg);
  /* background-image: url(../img/hero-img.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title,
.hero_text {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 100px;
  color: var(--main-text-color);
}

/* .hero_text {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 100px;
  color: whitesmoke;
} */

.about {
  padding: 190px 0;
  /* background-color: rgb(20, 160, 220); */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/children.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
}

.about_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.about_list {
  display: flex;
  justify-content: space-around;
}

.about_item {
  color: var(--main-text-color);
}

.about_point-title {
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about_point-text {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}



.midle_down_item {
  margin-top: 20px;
}
